<nav class="navbar navbar-expand-lg navbar-dark static-top custom-bgcolor">
  <img src="" width="50" height="50" src="assets/images/marconiHD.png" alt="QRMarconi - LOGO">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav navbar-right">

      <a class="nav-item nav-link disabled"  (click)="logout()" href="#">Log Out</a>
    </div>
  </div>
</nav>
