<app-main-nav></app-main-nav>
<div class="container">
        <h3 class="title"><strong>Lista degli utensili</strong></h3>
        <div id="input">
              <div id="inputFile"><span (click)="uploader.click()" >Scansiona un utensile</span></div>
              <input style="display: none" #uploader id="realInputFile" type="file" name="input" id="input" (change)="onFileChange($event)">
          </div>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="center_object">Nome</th>
                    <th class="center_object">Categoria</th>
                    <th class="center_object">Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let utensile of utensiliInUso" >
                    <td class="center_object">{{utensile.nome}}</td>
                    <td class="center_object">{{utensile.categoria}}</td>
                    <td class="center_object">
                      <button type="button" class="fa fa-arrow-up" (click)="restituisci(utensile.id_utensile)" ngbTooltip="Restituisci"></button>
                      <button type="button" class="fa fa-exclamation-triangle" (click)="segnala(utensile.id_utensile)" ngbTooltip="Segnala"></button>
                    </td>
                </tr>
            </tbody>
        </table>
  <h3 class="title"><strong>Lista membri del gruppo</strong></h3>

  <table class="table table-bordered table-striped">
      <thead class="thead-dark">
          <tr>
              <th class="center_object">Nome</th>
              <th class="center_object">Cognome</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let studenti of compagni">
              <td class="center_object">{{studenti.nome}}</td>
              <td class="center_object">{{studenti.cognome}}</td>
          </tr>
      </tbody>
  </table>
  <div>
    <button class="btn btn-primary" (click)="updateToolAndMates()" >Aggiorna</button>
    <button class="btn btn-danger" (click)="exitGroup()" >Esci dal gruppo</button>
  </div>
</div>
