<app-main-nav></app-main-nav>

<div class="container">
  
  <h3 class="title"><span>Lista degli Utensili</span></h3>
  <div class="_table">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let utensile of utensiliInUso" (click)="restituisci(utensile.id_utensile)">
                <td>{{utensile.nome}}</td>
              <td>{{utensile.categoria}}</td>
            </tr>
        </tbody>
    </table>
	<hr>
  <div class="_table">
    <div id="input">
        <div id="inputFile"><span (click)="uploader.click()" >Scansiona un utensile</span></div>
        <input style="display: none" #uploader id="realInputFile" type="file" name="input" id="input" (change)="onFileChange($event)">
    </div>
  </div>
  </div>
  
  <hr>
  
  <h3 class="title"><span>Lista membri del gruppo</span></h3>
  <div class="_table">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let studenti of compagni">
                <td>{{studenti.nome}}</td>
                <td>{{studenti.cognome}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="_table">
      <div id="input">
          <div id="inputFile"><span (click)="updateToolAndMates()" >Aggiorna</span></div>
          
      </div>
    </div>
    <div class="_table">
      <div id="input">
        <div id="inputFile"><span (click)="exitGroup()" >Esci dal gruppo</span></div>

      </div>
    </div>
   </div>

</div>


