header{
	background-color: #4CAF50;
	height: 25px;
	width: 100%;
}

#page{

	position: fixed;
	transform: translate(-50%, 0%);
	border: 1px solid #dadada;
	border-radius: 6px;
	left:50%;
	top:10%;
	padding: 25px;
	width: 50%;
}

#input{
	padding: 5px;
	text-align: center;
}

#inputFile{
	background-color: white;
	width: 100%;
	text-align: center;
	padding: 15px;
	border: 1px dashed #dadada;
	transition: 1s;
	border-radius: 7px;
	
}

#inputFile:hover{
	background-color: #fefefe;
	transition: 1s;
	border-bottom: 1px dashed #4CAF50;
}

#inputFile span{
	border-bottom: 1px solid transparent;
	transition: 1s;
}

#inputFile:hover span{
	border-bottom: 1px solid #4CAF50;
	padding: 2px;
	transition: 1s;
	color: #4CAF50;
}

#realInputFile{
  display: none;
  opacity: 0;
}

 #output{
	text-align: left;
	font-family: monospace;
	margin:10px 0;
	padding: 5px;
	border-left: 1px solid #dadada;
 }