<app-main-nav></app-main-nav>

<div class="container">
    <div class="col-md-4 text-center"> 
        <button type="button" class="btn btn-warning " (click)="joinmyself()">Lavoro da solo</button>
    </div>
  <h3 class="title"><strong>Membri della classe</strong></h3>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="center_object">Nome</th>
        <th class="center_object">Cognome</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let membro of membri" (click)="join(membro.id_studente)">
        <td class="center_object">{{membro.nome}}</td>
        <td class="center_object">{{membro.cognome}}</td>
      </tr>
    </tbody>
  </table>

</div>


